.md-footer-meta__inner {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  position: relative;
}

.md-footer-meta__inner::before {
  content: "";
  grid-column: 1;
  justify-self: start;
  display: block;
  width: 300px;
  height: 50px;
  margin: 0;
  background: url("../assets/athenarc-logo.png") no-repeat left center / contain;
  opacity: 1;
  cursor: pointer;
}

.md-footer-meta__inner::after {
  content: "";
  position: absolute;
  left: 0;
  width: 300px;
  height: 50px;
  cursor: pointer;
}

.md-footer-copyright {
  grid-column: 2;
  justify-self: center;
  text-align: center;
}

.md-social {
  grid-column: 3;
  justify-self: end;
}

@media (max-width: 600px) {
  .md-footer-meta__inner::before {
    width: 96px;
    height: 28px;
  }
  
  .md-footer-meta__inner::after {
    width: 96px;
    height: 28px;
  }
}